<html>

<head>

    <title>KALA - CAMERA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/static/bootstrap.css">

        <!-- jQuery library -->
        <script src="/static/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="/static/popper.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="/static/bootstrap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/statichls.min.js"></script>
    <style>
        
    </style>
</head>

<body>
    <a href="/test">Xem camera</a>
</body>

</html>