<html>

<head>
  <title>KALA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/static/bootstrap.css">

      <!-- jQuery library -->
      <script src="/static/jquery.min.js"></script>
  
      <!-- Popper JS -->
      <script src="/static/popper.js"></script>
  
      <!-- Latest compiled JavaScript -->
      <script src="/static/bootstrap.js"></script>
      <script src="/static/hls.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script> -->
<style>
    video {
  width: 100%;
  height: auto;
}
</style>
</head>

<body>
    <video id="video" controls>

    </video>
    <script type="text/javascript">
        function video_hls() {
            var video = document.getElementById('video');
            const urlParams = new URLSearchParams(window.location.search);
            // var id = <%= id %>;
            var url = "http://dev.creta.tech:8888/stream/<%= id %>/index.m3u8";
            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(url);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, function () {
                    video.play();
                });
                hls.on(Hls.Events.ERROR, function (event, data) {
    if (data.fatal) {
      switch(data.type) {
      case Hls.ErrorTypes.NETWORK_ERROR:
      // try to recover network error
        console.log("fatal network error encountered, try to recover");
        hls.startLoad();
        break;
      case Hls.ErrorTypes.MEDIA_ERROR:
        console.log("fatal media error encountered, try to recover");
        hls.recoverMediaError();
        break;
      default:
      // cannot recover
        hls.destroy();
        break;
      }
    }
  });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = url;
                video.addEventListener('canplay', function () {
                    video.play();
                });
            } else {
                alert("Nothing")
                console.log("Notthing");
            }
        }
        video_hls();
    </script>
</body>

</html>