<html>

<head>
  <title>KALA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/hls.min.js"></script>
<style>
    video {
  width: 100%;
  height: auto;
}
</style>
</head>

<body>
    <video id="video" width="800" controls>

    </video>
    <script type="text/javascript">
        function video_hls() {
            var video = document.getElementById('video');
            const urlParams = new URLSearchParams(window.location.search);
            // var id = <%= id %>;
            var url = "http://dev.creta.tech:8888/stream/<%= id %>/index.m3u8";
            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(url);
                hls.attachMedia(video);
                hls.on(Hls.Events.MANIFEST_PARSED, function () {
                    video.play();
                });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = url;
                video.addEventListener('canplay', function () {
                    video.play();
                });
            } else {
                alert("Nothing")
                console.log("Notthing");
            }
        }
        video_hls();
    </script>
</body>

</html>